/* Navigation */

nav {
    height: 180px;
}

nav #brand {
    margin-top: 25px;
}

nav ul {
    display: none;
}

nav #burgerMenu {
    display: unset;
    float: right;
    height: 100%;
}

nav #burgerMenu img {
    margin-top: 35px;
    height: 100px;
}

#mobileNavigation {
    display: none;
    top: 180px;
    width: 100%;
    position: absolute;
    height: calc(100% - 180px);
    background-color: #000;
    font-size: 7rem;
}
#mobileNavigation a {
    color: #fff;
    text-decoration: none;
}

/* Header */

header {
    height: 400px;
}

header .button {
    display: none;
}

header>section {
    top: 30%;
}

header h1 {
    font-size: 4rem;
}

/* Article */
article {
   display: grid;
}

article .img img  {
    width: 100%;
  }

/* CLASSES */

.grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "registerForm";
}

.twogrid {
    column-count: 1;
}

/* Register */
.registerForm h1 {
    font-size: 3rem;
}

.registerPicture {
    display: none;
}

.registerForm label {
    min-width: 260px;
}

.registerForm input {
    font-size: 3.125rem;
}

.registerForm>section {
    font-size: 3.125rem;
}

.registerForm input[type='submit'] {
    width: calc(60% + 20px);
}

.registerForm input[type='Reset'] {
    width: 25%;
    min-width: 280px;
}

/* Main */

main {
    min-height: calc(100% - 1000px);
}

main>.flexbox {
    display: grid;
    flex-direction: flex-flow;
    column-count: 1;
    grid-template-columns: 1fr;
}

main #impressum {
    grid-column-start: 1;
    grid-column-end: 1;
}

main #headquarters {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: left;
    padding: 10px 0 20px 0;
}

#headquarters img {
    width: 100%;
}

/* Footer */

footer {
    height: auto;
    text-align: center;
}

footer h3 {
    font-size: 2rem;
}

footer section {
    font-size: 1.5rem;
}

footer .flexbox {
    display: grid;
    flex-direction: flex-flow;
    column-count: 1;
    grid-template-columns: 1fr;
    max-width: 1024px;
}

footer #about {
    grid-column-start: 1;
    grid-column-end: 1;
}

footer #links {
    grid-column-start: 1;
    grid-column-end: 1;
}

footer #impressum {
    grid-column-start: 1;
    grid-column-end: 1;
}

footer ul {
    padding-left: 0;
}

/* BUY */
#buy {
    height: 120px;
    line-height: 140px;
    color: var(--main-text-color);
    line-height: 80px;
  }
  
/* LOGIN */

#login {
    height: 120px;
    line-height: 140px;
}

#login input[type="text"] {
    font-size: 2.5rem;
}

#login .button {
    font-size: 2.5rem;
}

/* FILTER */
#searchfilter {
    height: 120px;
    line-height: 140px;
}

#searchfilter select {
    font-size: 2.5rem;
  }

#searchfilter input[type="search"] {
    font-size: 2.5rem;
}

#searchfilter .button {
    font-size: 2.5rem;
}